# Lab Task 01

Reshape a 1D NumPy array into a 2D array with dimensions (3, 4).

Concatenate two NumPy arrays horizontally and vertically.

In [10]:
#code here
import numpy as np
array = np.arange(1,13)
array_2d = array.reshape(3,4)
array_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

# Lab Task 02


## Email Classification
Develope a tool which will classify an email.

### Tasks:
* Create a function classify_emails that takes a list of emails as an argument.
* Inside the function, categorize emails into "Important," "Promotions," and "Spam" based on keywords and content analysis.
* Loop through the emails and identify keywords to determine their category.
* If an email contains keywords indicating importance, assign it as "Important."
* If an email contains keywords related to promotions or deals, assign it as "Promotions."
* If an email is suspected to be spam based on certain keywords or patterns, assign it as "Spam."
* Return three lists of emails for each category.
* Print the lists.

In [20]:
#code here
def classify_emails(emails):
    Spam = []
    Promotions = []
    Important =  []
    spam_keywords = ["lottery", "free", "prize"]
    for i in emails:
        lower = i.lower()
        if 'important' in lower:
            Important.append(i)
        elif 'promotion' in lower:
            Promotions.append(i)

        elif any(keyword in lower for keyword in spam_keywords):
            Spam.append(i)
    print("Important Mails")
    for i in Important:
        print(i)
    
    print("\nSpam Mails: ")
    if(len(Spam)>0):
        for i in Spam:
            print(i)
    else:
        print("None")
    print("\nPromotions")
    if(len(Promotions)>0):
        for i in Promotions:
            print(i)
    else:
        print("None")
    return(Promotions, Important, Spam)

emails = [
    "URGENT: Action Required!",
    "Get 50% off - Limited time Promotion",
    "Congratulations! You won a free trip!",
    "Don't miss this Important update",
    "Exclusive deals just for you"
]
classify_emails(emails)

Important Mails
Don't miss this Important update

Spam Mails:
Congratulations! You won a free trip!

Promotions
Get 50% off - Limited time Promotion

(['Get 50% off - Limited time Promotion'],
 ["Don't miss this Important update"],
 ['Congratulations! You won a free trip!'])

# Lab Task 03

## English-Spanish Dictionary
You are creating a basic English-Spanish dictionary that allows users to look up English words and find their Spanish translations.


### Tasks
* Create a dictionary where English words are keys and their Spanish translations are values.
* Ask the user to input an English word.
* Check if the word exists in the dictionary.
* If the word exists, print its Spanish translation.
* If the word does not exist, inform the user that the translation is not available.
* Implement a loop that allows the user to keep looking up words until they choose to exit.

In [4]:
#code here

dictionary = {
    "hello": "hola",
    "goodbye": "adi√≥s",
    "doremon": "Robo billa", 
    "cat": "gato",
    "Money Heist": "La casa de papel",
    "food": "sparache",
    "house": "casa",

}


def translate_word(word):
    return dictionary.get(word.lower(), "Translation not available")


while True:

    user_input = input("Enter an English word (or 'exit' to quit): ")


    if user_input.lower() == "exit":
        print("Goodbye!")
        break
    
    translation = translate_word(user_input)
    print(f"The Spanish translation of '{user_input}' is '{translation}'.")

The Spanish translation of 'Money Heist' is 'Translation not available'.
The Spanish translation of 'cat' is 'gato'.
The Spanish translation of 'q' is 'Translation not available'.
Goodbye!

# Lab Task 04

dataset link : https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv
#Exercise
Use the dataset of Game, we have explored earlier and perform following operations.

* Calculate the total global sales for all games in the dataset.
* Find the game with the highest global sales.
* Determine the average sales for each region (NA_Sales, EU_Sales, JP_Sales, Other_Sales).
* Find the top 5 most popular game genres based on global sales.
* Calculate the total sales for each genre in each region and find the most popular genre in North America (NA_Sales).
* Display last 10 rows.
* Determine the top 3 gaming platforms with the highest global sales.
* Calculate the market share (percentage of global sales) for each genre.
* Calculate the correlation coefficient between NA_Sales and EU_Sales. (.corr function)

In [6]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [17]:
total_gloabl_sales = df['Global_Sales'].sum()
print(f'Number of total global sales: {total_sales}')

Number of total global sales: 8920.44

In [25]:
highest_sale_game = df['Global_Sales'].idxmax()
df.loc[highest_sale_game]

Rank                     1
Name            Wii Sports
Platform               Wii
Year                2006.0
Genre               Sports
Publisher         Nintendo
NA_Sales             41.49
EU_Sales             29.02
JP_Sales              3.77
Other_Sales           8.46
Global_Sales         82.74
Name: 0, dtype: object

In [27]:
average_sales_per_region = df[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].mean()
print("Average sales for each region:")
print(average_sales_per_region)

Average sales for each region:
NA_Sales       0.264667
EU_Sales       0.146652
JP_Sales       0.077782
Other_Sales    0.048063
dtype: float64

In [56]:
top_5_genres = df.groupby('Genre')['Global_Sales'].sum()

print("Top 5 most popular game genres based on global sales:")
top_5_genres

sorted_series_asc = top_5_genres.sort_values(ascending=False)

print("Sorted Series in ascending order:")
sorted_series_asc[0:5]

Top 5 most popular game genres based on global sales:
Sorted Series in ascending order:

Genre
Action          1751.18
Sports          1330.93
Shooter         1037.37
Role-Playing     927.37
Platform         831.37
Name: Global_Sales, dtype: float64

In [54]:
sales_per_genre_per_region = df.groupby('Genre')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
print("Total sales for each genre in each region:")
sales_per_genre_per_region

Total sales for each genre in each region:

              NA_Sales  EU_Sales  JP_Sales  Other_Sales
Genre
Action          877.83    525.00    159.95       187.38
Adventure       105.80     64.13     52.07        16.81
Fighting        223.59    101.32     87.35        36.68
Misc            410.24    215.98    107.76        75.32
Platform        447.05    201.63    130.77        51.59
Puzzle          123.78     50.78     57.31        12.55
Racing          359.42    238.39     56.69        77.27
Role-Playing    327.28    188.06    352.31        59.61
Shooter         582.60    313.27     38.28       102.69
Simulation      183.31    113.38     63.70        31.52
Sports          683.35    376.85    135.37       134.97
Strategy         68.70     45.34     49.46        11.36

In [55]:
total_sales_per_genre_na = df.groupby('Genre')['NA_Sales'].sum()
most_popular_genre_na = total_sales_per_genre_na.idxmax()
print("Most popular genre in North America based on total sales:", most_popular_genre_na)

Most popular genre in North America based on total sales: Action

In [57]:
df.tail(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [63]:
Platforms = df.groupby('Platform')['Global_Sales'].sum()
sorted_platforms= Platforms.sort_values(ascending = False)
Platforms[0:3]

Platform
2600     97.08
3DO       0.10
3DS     247.46
Name: Global_Sales, dtype: float64

In [89]:
total_sales = df['Global_Sales'].sum()
total_sales_percentage = df.groupby('Genre')['Global_Sales'].sum()/total_sales*100
total_sales_percentage

Genre
Action          19.631094
Adventure        2.679688
Fighting         5.032375
Misc             9.079821
Platform         9.319832
Puzzle           2.745941
Racing           8.206322
Role-Playing    10.396012
Shooter         11.629135
Simulation       4.396644
Sports          14.920004
Strategy         1.963132
Name: Global_Sales, dtype: float64

In [91]:
correlation_coefficient = df['NA_Sales'].corr(df['EU_Sales'])
print("Correlation coefficient between NA_Sales and EU_Sales:", correlation_coefficient)

Correlation coefficient between NA_Sales and EU_Sales: 0.767726748370263

Some tree example

In [3]:
# import pandas as pd

# # Create a DataFrame to represent a tree
# data = {
#     'node': ['A', 'B', 'C', 'D', 'E', 'F'],
#     'parent': [None, 'A', 'A', 'B', 'B', 'C']
# }
# df = pd.DataFrame(data)

# print(df)

In [2]:
# pip install networkx

In [1]:
# import pandas as pd
# import networkx as nx
# import matplotlib.pyplot as plt

# # Create a DataFrame representing edges in a graph
# data = {
#     'from': ['A', 'A', 'B', 'C', 'D'],
#     'to': ['B', 'C', 'D', 'E', 'E']
# }
# edges = pd.DataFrame(data)

# # Create a graph from the edges DataFrame
# G = nx.from_pandas_edgelist(edges, 'from', 'to')

# # Draw the graph
# nx.draw(G, with_labels=True)
# plt.show()

# # Analyze the graph
# print("Nodes:", G.nodes())
# print("Edges:", G.edges())
# print("Degree for each Node:", dict(G.degree()))